[submodule "users"]
	path = users
	url = https://github.com/chef-cookbooks/users.git
[submodule "ntp"]
	path = ntp
	url = https://github.com/chef-cookbooks/ntp.git
[submodule "cheif_nginx"]
	path = chef_nginx
	url = https://github.com/chef-cookbooks/chef_nginx.git
[submodule "sudo"]
	path = sudo
	url = https://github.com/chef-cookbooks/sudo.git
[submodule "cron"]
	path = cron
	url = https://github.com/chef-cookbooks/cron.git
[submodule "yum"]
	path = yum
	url = https://github.com/chef-cookbooks/yum.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/chef-cookbooks/build-essential.git
[submodule "ohai"]
	path = ohai
	url = https://github.com/chef-cookbooks/ohai.git
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/chef-cookbooks/yum-epel.git
[submodule "runit"]
	path = runit
	url = https://github.com/chef-cookbooks/runit.git
[submodule "opworks_ruby"]
	path = opworks_ruby
	url = https://github.com/ajgon/opsworks_ruby.git
[submodule "deployer"]
	path = deployer
	url = https://github.com/sethvargo-cookbooks/deployer.git
[submodule "ruby-ng"]
	path = ruby-ng
	url = https://github.com/3ofcoins/chef-cookbook-ruby-ng.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/miketheman/nginx.git
[submodule "apt"]
	path = apt
	url = https://github.com/chef-cookbooks/apt.git
